{% extends "layout-base.html" %}

{% block head_title %} Cursos {% endblock %}

{% block page_content %}

    <h1> Listado de los Cursos disponibles </h1>

    {% for course in courses %}
        <article id="{{ course.pk }}">
            <h2> {{ course.name }} </h2>
            {% if course.course_image %}
                <picture>
                    <img src="{{ course.course_image.thumbnails.small.url }}" alt="">
                </picture>
            {% endif %}

            <p> Fecha de Creacion: {{ course.created_at }} </p>
            <div> {{ course.content }} </div>
            <a href="{% url 'course:course_detail' course.pk %}"> Ver Curso completo </a>
        </article>
    {% endfor %}

{% endblock %}