/* Exercis 1 */
body {
    font-family: sans-serif;
    text-align: center;
}

table, th, td {
    border: 0;
    border-spacing: 0;
    padding: 20px;
}

.exercis1 {
    background-color: black;
    color: white;
}

.exercis1-1 {
    background-color: #EDEDED;
}


/* Exercis 2 */
.exercis2 {
    border-bottom: 2px solid green;
}

.exercis2-1 {
    background-color: green;
    color: white;
}

.exercis2-2 {
    background-color: #EDEDED;
    color: green;
}


/* Exercis 3 */
.exercis3 {
    background-color: #232323;
    color: white;
}

.exercis3-1 {
    background-color: blue;
    color: white;
    font-weight: 800;
}

.exercis3-2 {
    background-color: yellow;
}


/* Exercis 5 */
.exercis5-1 {
    background-color: #EDEDED;
}

.status1 {
    background-color: green;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    width: 100px;
}

.status2 {
    background-color: yellow;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    width: 100px;
}

.status3 {
    background-color: red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    width: 100px;
}


/* Exercis 6 */
.exercis6 {
    background-color: black;
    color: white;
}

.exercis6-1 {
    background-color: #232323;
}