body {
    font-family: sans-serif;
    text-align: center;
    width: 100px;
}

/* Exercis 1 */
.text1 {
    background-color: green;
    color: white;
    margin: 10px;
    padding: 20px;
    text-shadow: 0px 1px 2px black;
}


/* Exercis 2 */
.text2 {
    background-color: green;
    color: white;
    margin: 10px;
    padding: 20px;
    text-shadow: 1px 1px black;
}


/* Exercis 3 */
.text3 {
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 20px;
    text-shadow: 
        -1px 1px #00AA00,
        -2px 2px #005500,
        -3px 3px #003300;
}


/* Exercis 4 */
.text4 {
    background-color: green;
    color: white;
    margin: 10px;
    padding: 20px;
    text-shadow: 0px 2px 1px black;
}


/* Exercis 5 */
.text5 {
    background-color: #343434;
    color: #222222;
    margin: 10px;
    padding: 20px;
    text-shadow: 
        0.2px 0.2px 0px #454545,
        -0.2px -0.2px 0px #121212;
    ;
}


/* Exercis 6 */
.text6 {
    background-color: blue;
    margin: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 0px 5px black;
}


/* Exercis 7 */
.text7 {
    background-color: blue;
    margin: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: inset 0px 0px 15px black;
}


/* Exercis 8 */
.text8 {
    background-color: blue;
    margin: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 4px 4px 8px black;
}


/* Exercis 9 */
.text9 {
    background-color: blue;
    margin: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: -4px -4px 8px black;
}


/* Exercis 10 */
.text10 {
    background-color: blue;
    margin: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 8px 8px black;
}